:root {
    --header-height: 64px;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-size: 1rem;
        text-rendering: optimizeSpeed;
        font-family: 'Lora', 'ProximaNova', 'DM Mono';
        -webkit-tap-highlight-color: transparent;
        color: #161823;
    }

    @font-face {
        font-family: 'ProximaNova';
        src: url('/assets/fonts/Proxima-Nova-Bold.woff2');
        font-weight: 700;
    }

    @font-face {
        font-family: 'ProximaNova';
        src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
        font-weight: 600;
    }

    @font-face {
        font-family: 'ProximaNova';
        src: url('/assets/fonts/ProximaNova-Semibold.woff2');
        font-weight: 700;
    }
}

@layer components {
    // Button
    .btn {
        @apply text-white px-5 py-2 bg-transparent flex justify-center items-center
         rounded min-h-[36px] min-w-[100px] select-none leading-3 font-medium;
    }

    .btn + .btn {
        @apply ml-3;
    }

    // Animation

    .animation-header {
        @apply relative before:content-[''] before:absolute before:bg-red-600 before:h-[2px] before:w-0 hover:before:w-full
        before:left-[50%] before:bottom-[-10px] before:translate-x-[-50%] before:transition-all before:ease-linear before:delay-200;
    }

    // Popper

    .popper-wrapper {
        @apply min-h-[42px] min-w-[224px] bg-white  rounded;
    }

    // Menu item

    .menu-item.ml-i {
        @apply hover:text-white hover:bg-primary text-[#00000099] py-[6px] justify-start ml-0;
    }

    .separate {
        @apply border-t border-solid border-[#21252926];
    }
}
