:root {
    --header-height: 64px;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    // scrollbar

    html *::-webkit-scrollbar {
        border-radius: 0;
        width: 8px;
    }

    html *::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(22, 24, 35, 0.08);
    }

    html *::-webkit-scrollbar-track {
        border-radius: 0;
        background-color: rgba(0, 0, 0, 0);
    }

    html body {
        overflow-y: overlay;
    }

    body {
        font-size: 1rem;
        text-rendering: optimizeSpeed;
        font-family: 'Lora', 'ProximaNova', 'DM Mono';
        -webkit-tap-highlight-color: transparent;
        color: #161823;
    }

    @font-face {
        font-family: 'ProximaNova';
        src: url('/assets/fonts/Proxima-Nova-Bold.woff2');
        font-weight: 700;
    }

    @font-face {
        font-family: 'ProximaNova';
        src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
        font-weight: 600;
    }

    @font-face {
        font-family: 'ProximaNova';
        src: url('/assets/fonts/ProximaNova-Semibold.woff2');
        font-weight: 700;
    }
}

@layer components {
    // Header

    .header {
        @apply flex justify-center items-center fixed top-0 bg-primary w-full shadow-lg z-[999] capitalize;
    }

    .navBar-down {
        @apply top-[-64px] transition-all ease-linear;
    }

    .navBar-up {
        @apply top-0 transition-all ease-linear;
    }

    // Button
    .btn {
        @apply text-white px-5 py-2 bg-transparent flex justify-center items-center
         rounded min-h-[36px] min-w-[100px] select-none leading-[22px] font-medium;
    }

    .btn + .btn {
        @apply ml-3;
    }

    .icon {
        width: 24px;
    }

    .icon + .title,
    .title + .icon {
        @apply ml-1;
    }

    // Animation

    .animation-header {
        @apply relative before:content-[''] before:absolute before:bg-red-600 before:h-[2px] before:w-0 hover:before:w-full
        before:left-[50%] before:bottom-[-10px] before:translate-x-[-50%] before:transition-all before:ease-linear before:delay-200;
    }

    // Popper

    .popper-wrapper {
        @apply min-h-[42px] min-w-[224px] bg-white  rounded;
    }

    // Menu item

    .menu-item.ml-i {
        @apply hover:text-white hover:bg-primary text-[#00000099] py-[6px] justify-start ml-0;
    }

    .separate {
        @apply border-t border-solid border-[#21252926];
    }

    // Hidden overplay

    .hidden-overplay {
        overflow-y: hidden;
    }

    // Swiper custom

    .swiper-button-prev::after,
    .swiper-button-next::after {
        @apply hidden;
    }

    .swiper-button-prev,
    .swiper-button-next {
        @apply text-[18px] font-medium bg-white leading-8 text-black rounded-[50%] shadow-sm max-h-[32px] min-w-[32px] w-full h-full;
    }

    .container {
        .swiper-button-prev.swiper-button-disabled {
            @apply cursor-auto opacity-40 pointer-events-auto;
        }

        .swiper-button-next.swiper-button-disabled {
            @apply cursor-auto opacity-40 pointer-events-auto;
        }

        .swiper-scrollbar {
            @apply absolute top-[98%] h-[10px] w-full left-0 bottom-[10px] bg-[#00000000];
        }
        .swiper-scrollbar-drag {
            @apply cursor-grabbing bg-[#16182333];
        }
    }
}
